#logo{
	display: block;
	margin: 0 auto;
	float:left;/*remove this if changing header back*/
	padding-left:5%;/*remove this if changing header back*/
}
header{
	background-color:#fff;
	padding-bottom:25px;
	margin-bottom:25px;

}
header h2{
	text-align:left;
	color:blue;
	padding-top:50px;/*remove this if changing header back*/
	margin-left:35%;/*remove this if changing header back*/
}
nav{
	display: flex;	
	margin: 0 auto;
	text-align:center;
}
nav a{
	font-weight:bolder;
	display: inline;
	width:20%;
}


footer{
	padding-bottom:25px;
	display: block;
	margin: 0 auto;

}
footer h2{
	margin-bottom:0px;
	margin-top:0px;
	padding-top:50px;
}
aside ul{
	list-style-type:none;
	cursor:pointer;
	
}
aside details ul {
	padding-left:20px;

}
aside details summary{
	padding-top:0px;
}
aside li{
	padding-top:10px;
}
summary{
		font-weight:bold;
}
summary:hover{
	color:red;
}
#company{
	text-align:center;
	padding-top:5px;
}
/* This section is specific to links styling */
a:link{
	text-decoration:none;
	color:black;
}

a:visited{
	color:navy;	
}
a:hover{
	color:red;	
}
a:active{
	text-decoration:underline;	
}
/* This is the end of the links styling */